<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
    <div id="app">
        
        <!-- v-if remove the dom element complete and inject it on true -->
        <span v-if="showBooks">{{title}}</span>
        <span v-if="true">- {{author}}</span>
        <span v-if="true">- {{age}}</span>
        
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-if="!showBooks">Show Books</span>
            <!-- we can use else also -->
            <span v-else>Show Books else</span>
        </button>

        <!-- this only use css to display and display-none -->
        <div v-show="showBooks">{{title}}</div>

    </div>
    <script src="app.js"></script>
</body>
</html>